@font-face {
  font-family: myfont;
  src: url("./font/Font_Light.otf") format("opentype");
}
@font-face {
  font-family: myfont;
  src: url("./font/Font_Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: myfont;
  src: url("./font/Font_Medium.otf") format("opentype");
  font-weight: 500;
}

:root {
  --background: #181818;
  --title-color: #f40612;
  --text-color: #fff;
  --text-color-mid: rgb(210, 207, 207);
  --text-color-dark: #a3a3a3;
  --source: #2a2a2a;
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: "myfont", sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.mainframe {
  padding: 25px 10vw;
  margin: 0 auto 5rem auto;
}

h1 {
  color: var(--title-color);
  margin-top: 3rem;
  margin-bottom: 0;
  text-align: center;
  font-size: 3.5rem;
}

h2 {
  color: var(--text-color);
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.search-h {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: center;
}

button {
  background-color: #e50914;
  background-image: linear-gradient(180deg, #e50914, #db0510);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  color: #fff;
  border: 0;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.text {
  color: var(--text-color-dark);
  margin-top: 0;
}

.watchmode {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color-mid);
  display: inline-block;
}

.watchmode:hover {
  text-decoration: underline;
}

.lower-p {
  margin-bottom: 0.2rem;
}

.upper-p {
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}

.requests {
  display: inline;
  color: var(--text-color-mid);
}

.searchbar {
  border-bottom: 1px solid var(--text-color-dark);
  margin-top: 1rem;
  padding: 2rem 0 2.4rem 0;
}

.searchbar form {
  display: flex;
  justify-content: center;
}

.searchbar input {
  height: 1.5rem;
  width: 15rem;
  overflow-x: scroll;
}

.searchbar button {
  cursor: pointer;
  display: inline-block;
  margin-left: 0.2rem;
  width: 5rem;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 3.3rem 20px 0 2rem;
}

.movie-card {
  width: 185px;
  height: 278px;
  margin: 10px;
  background-color: transparent;
}

.movie-card img {
  height: 100%;
  width: 100%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.movie-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: rgba(146, 146, 146, 0.23) 0px 3px 6px, rgba(146, 146, 146, 0.23) 0px 3px 6px;
  border: solid 1px var(--text-color-dark);
}

.card-front {
  background-color: #bbb;
  color: black;
  background-image: url("./images/background-placeholder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back {
  background-image: linear-gradient(0deg, #181818 5%, #333 95%);
  color: var(--text-color);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-back h3 {
  font-size: 1rem;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 5rem;
}

.card-back-text {
  flex-grow: 1;
}

.card-back ul {
  line-height: 1.5em;
  padding: 0;
}

.card-back li {
  list-style: none;
  text-align: center;
}

.card-back button {
  align-self: flex-end;
  margin: 0 auto 2rem auto;
}

.dialog {
  width: 50%;
  height: 50%;
  overflow-y: auto;
  padding: 0;
  background-color: var(--background);
  padding-bottom: 0;
  position: fixed;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.dialog button {
  margin: 2rem auto 3rem auto;
  display: block;
  width: 10rem;
  height: 2rem;
}

.info h4:not(.info-title) {
  text-decoration: underline solid black;
  margin-top: 2rem;
  margin-bottom: 0.1rem;
}

.info {
  background-image: linear-gradient(0deg, #181818 5%, #333 95%);
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}

.info h4 {
  color: var(--text-color);
  font-weight: 300;
}

.info .info-title {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--title-color);
}

.info p {
  color: var(--text-color-dark);
  margin-top: 0.2rem;
}

.info-genres {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.genre-name {
  display: inline;
  margin: 0 0.25rem;
  text-transform: capitalize;
}

.genre-name:not(:last-child)::after {
  content: ",";
}

.info-trailer a {
  text-decoration: none;
  display: block;
  color: var(--text-color-dark);
  margin-top: 0.2rem;
}

.where-to-watch {
  font-size: large;
  text-align: center;
  border-bottom: 1px solid var(--text-color-dark);
  padding-bottom: 1rem;
}

.info-sources {
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid var(--text-color-dark);
  margin-top: 2rem;
}

.info-sources::-webkit-scrollbar {
  display: none;
}

.source {
  padding-right: 1rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  max-width: 200px;
  background-color: var(--source);
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.source:first-child {
  margin-left: 3rem;
}

.source h5 {
  text-align: center;
  font-size: large;
  margin: 1rem 0 1.6rem 0;
}

.source li {
  text-wrap: nowrap;
}

.source a {
  text-align: center;
  display: block;
  margin: 1.6rem 0 1.5rem;
  text-decoration: none;
  color: var(--text-color-mid);
}

.blank-poster-text {
  text-align: center;
  background-color: #eeefee;
  margin: 1.5rem 1rem 0 1rem;
  padding-bottom: 0.4rem;
}
