:root {
  --h1: rgb(150, 39, 39);
}

body {
  background-color: lightslategray;
  margin: 0;
  font-family: sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  text-align: center;
  color: var(--h1);
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  transform-origin: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.content button {
  cursor: pointer;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 2rem 20px 0 80px;
}

.movie-card {
  width: 185px;
  height: 278px;
  margin: 10px;
  background-color: transparent;
  border: 1px solid #4e4747;
}

.movie-card img {
  height: 100%;
  width: 100%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.movie-card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  background-color: #bbb;
  color: black;
}

.card-back {
  background-color: rgb(104, 69, 69);
  color: white;
  transform: rotateY(180deg);
}

.card-back h3 {
  text-align: center;
}

.card-back button {
  cursor: pointer;
}

.blank-picture {
  padding-top: 2rem;
}

.dialog {
  width: 50%;
  height: 50%;
  overflow-y: auto;
  padding: 0;
  background-color: bisque;
  padding-bottom: 0;
}

.dialog button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 2rem;
  width: 10rem;
  height: 3rem;
}

.info-title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: larger;
}

.info h4:not(.info-title) {
  text-decoration: underline solid black;
  margin-top: 2rem;
  margin-bottom: 0;
}

.info {
  background-color: bisque;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}

.info-description p {
  margin-top: 0.5rem;
}

.info-genres {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.genre-name {
  display: inline;
  margin: 0 0.25rem;
  text-transform: capitalize;
}

.genre-name:not(:last-child)::after {
  content: ",";
}

.info-trailer a {
  text-decoration: none;
  margin-top: 0.5rem;
  display: block;
}

.info-sources {
  margin-top: 2rem;
  display: flex;
  overflow-x: auto;
}

.source {
  margin-right: 2rem;
  margin-bottom: 3rem;
  max-width: 200px;
  background-color: rgb(196, 177, 155);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.source:first-child {
  margin-left: 3rem;
}

.source h5 {
  text-align: center;
  font-size: large;
  margin: 1rem 0 1.6rem 0;
}

.source li {
  text-wrap: nowrap;
}

.source a {
  text-align: center;
  display: block;
  margin: 1.6rem 0 1.5rem;
  text-decoration: none;
  color: rgb(121, 109, 90);
}
