:root {
  --h1: rgb(150, 39, 39);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  text-align: center;
  color: var(--h1);
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  transform-origin: 2rem;
}

.info-text {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.content button {
  cursor: pointer;
}
